* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1{
  background-color: #081b31;
  color: #fafcfd;
  height: 5rem;
  line-height: 5rem;
}
.choice{
  width: 165px;
  height: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.choice:hover{
 background-color: #081b31;
  cursor: pointer;
}
.score-board , .msg-container{
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 2.9rem;
  font-size: 2rem;
  margin-top: 1.6rem;
}
#user-score , #computer-score ,#draw-score{
  font-size: 3rem;
}
#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}